<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
<session-factory>
	<property name="connection.driver_class">

		oralce.jdbc.OracleDriver
	</property>
	<property name="connection.url">
		jdbc:oracle:thin:@localhost:1521:XE
	</property>
	<property name="connection.username">system</property>
	<property name="connection.password">123456</property>
	<property name="dialect">
		org.hibernate.dialect.Oracle10gDialect
	</property>
	<property name="hibernate.show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>
	<property name="hibernate.format_sql">true</property>
	<mapping resource="com/weibao/entity/YuangongXinxi.hbm.xml" />
	<mapping resource="com/weibao/entity/Gongqiju.hbm.xml" />
	<mapping resource="com/weibao/entity/DengluUser.hbm.xml" />
	<mapping resource="com/weibao/entity/ChankanFile.hbm.xml" />

</session-factory>
</hibernate-configuration>
